@model Projet3.Models.Article

@{
    ViewBag.Title = "Articles - Détails";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Articles - Détails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addedum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addedum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_publication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_addedum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_addedum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.libelle)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Articles")" class="btn btn-default">
        <i class="fas fa-chevron-circle-left"></i>
        Retour liste
    </a>
    <a href="@Url.Action("Edit", "Articles" , new { id=Model.idArticle })" class="btn btn-primary">
        <i class="fas fa-edit"></i>
        Modifier
    </a>
</p>
