@model IEnumerable<Projet3.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_publication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addedum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_addedum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.libelle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_publication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addedum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_addedum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.libelle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idArticle }) |
            @Html.ActionLink("Details", "Details", new { id = item.idArticle }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idArticle })
        </td>
    </tr>
}

</table>
