@model IEnumerable<Projet3.Models.DerniersArticlesListe_Result>

@{
    ViewBag.Title = "Accueil - Derniers articles";
}

<h2>Derniers articles</h2>

<section id="lastArticles" class="col-sm-10">
    @if (Model.ToList().Count > 0)
    {
        foreach (var article in Model)
        {
            <div class="article">
                @{
                    string pathImage = null;
                    if (!string.IsNullOrEmpty(article.image))
                    {
                        // Cas d'une image externe
                        pathImage = article.image;

                        // Cas d'une image locale
                        string path = Request.MapPath("~/Public/") + article.image;
                        if (System.IO.File.Exists(path))
                        {
                            pathImage = Url.Content(string.Format("~/Public/{0}", article.image));
                        }
                        <div class="text-center jumbotron" style="padding-top:30px; padding-bottom:30px;margin-bottom:0;">
                            <img src="@pathImage" style="max-height: 200px;" />
                        </div>
                    }
                }
                <div class="clearfix">
                    <div class="col-md-10">
                        <h4>@article.titre</h4>
                        <p style="font-style:italic;">Posté le @article.date_publication.ToString("dd MMMM yyyy à H:mm")</p>
                    </div>
                    <div class="col-md-2 text-right" style="margin-top:10px;">
                        <a href="@Url.Action("Liste", "Articles", new { idCategorie = article.idCategorie })" class="btn btn-default" title="Filtrer par la catégorie : @article.libelle">
                            @article.libelle
                        </a>
                    </div>
                </div>
                <div class="text-justify">
                    @article.description
                </div>
                <div class="text-right" style="margin: 10px 0 20px;">
                    <a href="@Url.Action("FicheArticle", "Articles", new { id = article.idArticle })"
                            class="btn btn-primary">
                        Lire
                    </a>
                </div>
            </div>
        }
    }
    else
    {
        <p class="bg-info" style="padding: 15px;">Aucun article trouvé</p>
    }
</section>
<section id="search" class="col-sm-2 jumbotron" style="padding: 15px 10px;">
    <p>Recherche</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        if (!string.IsNullOrEmpty(Request.QueryString["idCategorie"]))
        {
            <input name="idCategorie" type="hidden" value="@Request.QueryString["idCategorie"]" />
        }
        <p class="clearfix" style="padding:0 10px 0 0;">
            <span class="col-sm-11" style="padding:0;">
                <input class="form-control" name="search" placeholder="Recherche..." />
            </span>
            <span class="col-sm-1" style="padding:0 5px;">
                <a href="javascript:void(0)" title="Rechercher" onclick="$(this).parents('form').get(0).submit();">
                    <i class="fas fa-search" style="vertical-align:middle;"></i>
                </a>
            </span>
        </p>
    }
    <p>Catégories</p>
    <div class="col-sm-12">
        @for (var i = 0; i < ViewBag.Categories.Count; i++)
        {
            if (i % 3 == 0)
            {
                @:<ul class="list-inline">
                }
                <li>
                    @if (ViewBag.Categories[i].Article.Count == 0)
                    {
                        @:<a href="javascript:void(0)" tabindex="-1" style="color: gray; pointer-events: none;">
                            @ViewBag.Categories[i].libelle
                        @:</a>
                    }
                    else
                    {
                        @:<a href="@Url.Action("Index", "Home", new { idCategorie = ViewBag.Categories[i].idCategorie })"
                              @: title="Filtrer par la catégorie : @ViewBag.Categories[i].libelle">
                            @ViewBag.Categories[i].libelle
                        @:</a>
                    }
                </li>
                if (i % 3 == 2 || i == ViewBag.Categories.Count - 1)
                {
                @:</ul>
            }
        }
    </div>
</section>
