@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Catégories", "Index", "Categories", routeValues: null, htmlAttributes: new { id = "categoriesLink" })</li>
    <li>@Html.ActionLink("Articles", "Index", "Articles", routeValues: null, htmlAttributes: new { id = "articlesLink" })</li>
</ul>
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-text">@User.Identity.GetUserName()</span></li>
        <li>@Html.ActionLink("Se déconnecter", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
