@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
<ul class="nav navbar-nav navbar-left">
    <li @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("/Admin/Categories")) { @Html.Raw("class='active'"); }>
        <a href="@Url.Action("Index", "Categories" )">
            <i class="fas fa-folder"></i>
            Catégories
        </a>
    </li>
    <li @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("/Admin/Articles")) { @Html.Raw("class='active'"); }>
        <a href="@Url.Action("Index", "Articles" )">
            <i class="fas fa-newspaper"></i>
            Articles
        </a>
    </li>
    <li @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("/Admin/Lecteurs")) { @Html.Raw("class='active'"); }>
        <a href="@Url.Action("Index", "Lecteurs")">
            <i class="fas fa-users"></i>
            Lecteurs
        </a>
    </li>
</ul>
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-text">
                <i class="fas fa-user"></i>
                @User.Identity.GetUserName()
            </span></li>
        <li>
            <a href="@Url.Action("LogOff", "Account")">
                <i class="fas fa-sign-out-alt"></i>
                Se déconnecter
            </a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Login", "Account")">
                <i class="fas fa-sign-in-alt"></i>
                Se connecter
            </a>
        </li>
    </ul>
}
