@model IEnumerable<Projet3.Models.CategoriesListe_Result>

@{
    ViewBag.Title = "Catégories - Liste";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Catégories - Liste</h2>

<p>
    <a href="@Url.Action("Create", "Categories")" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i>
        Nouvelle catégorie
    </a>
</p>
<hr />
<table class="table table-hover" id="tableCategories">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.libelle)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.nbArticles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.libelle)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.nbArticles)
            </td>
            <td class="text-right">
                @if (item.nbArticles == 0)
                {
                    <a href="@Url.Action("Delete", "Categories", new { id=item.idCategorie })" class="btn btn-danger" onclick="return confirm(&quot;Êtes-vous sûr de vouloir supprimer cette catégorie ?&quot;);">
                        <i class="fas fa-trash"></i>
                        Supprimer
                    </a>
                }
                else
                {
                    string btnTitle;
                    if (item.nbArticles == 1)
                    {
                        btnTitle = "Cette catégorie est liée à 1 article";
                    }
                    else
                    {
                        btnTitle = "Cette catégorie est liée à " + item.nbArticles + " articles";
                    }
                    <button class="btn btn-danger" disabled title="@btnTitle">
                        <i class="fas fa-trash"></i>
                        Supprimer
                    </button>
                }
                <a href="@Url.Action("Edit", "Categories" , new { id=item.idCategorie })" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>
                <a href="@Url.Action("Details", "Categories", new { id=item.idCategorie })" class="btn btn-default">
                    <i class="far fa-eye"></i>
                    Voir
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function confirmDelete() {
        return confirm("Êtes-vous sûr de vouloir supprimer cette catégorie ?");
    }
    window.onload = function () {
        $('#tableCategories').DataTable({
            language: {
                url: '/Areas/Admin/Localisation/fr_FR.json'
            },
            columns: [
                null,
                null,
                { "orderable": false }
            ]
        });
    }
</script>
